@import url("https://fonts.googleapis.com/css2?family=Emilys+Candy&display=swap");

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  overflow: hidden;
}

.background {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #ff9a9e 0%, #fad0c4 50%, #a18cd1 100%);
}

.content-box {
  width: 50%;
  padding: 2rem;
  border-radius: 20px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
  text-align: center;
  background-color: white;
}

.cute-text {
  color: #ff6b81;
  font-family: "Emilys Candy", cursive !important;
  font-size: 2.3rem !important;
  text-align: center;
}

.buttons-container {
  margin-top: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  position: relative;
}

@keyframes move-heart {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}

.hearts-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
}
